/* .home__tab{
    display: flex;
    height: 2rem;
    width: 40rem;
    
     margin-right: 10rem; 
    padding: 2rem;
    margin-bottom: 1rem;

} */
.home__books{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 50rem;
    width: 92rem;
    overflow: scroll;
    overflow-x: hidden;
}