.title{
    margin-top: 2rem;
    color: black;
    

}
.cardBook{
    color: #CCCCCC;
    display: flex;
    height:100%;
    width: 35rem;
    background-color: rgb(149, 149, 149);
}

img{
    height: 20rem;
    padding: 2rem;
    margin-top: -4rem;
}
.element{
    padding: 3rem;
    margin-top: 2rem;
    width: 40rem;
    height: 23rem;
    //  background-color: black;
}
.star{
    margin-right: 3rem;
    padding-bottom: 2rem;
    padding: 10px 40px 20px 0;
}
img:hover{
    transform: scale(1.1);
    transition: ease-in-out .2s;
    cursor: pointer;
}
